{% extends "base.html" %} {% load static%} {% block modal %}

<!--Start Cart Item Details-->
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for order_item in object.items.all %}
        <tr>
            <td>
                <div class="cart-info">
                    <img src="{{order_item.item.picture.url}}" alt="">
                    <div>
                        <p>{{order_item.item.title}}</p>
                        <small>Price: ${{order_item.item.price}}</small>
                        <br>
                        <a href="{% url 'shop:remove-from-cart' order_item.item.slug %}">Remove</a>
                    </div>
                </div>
            </td>
            <td>{{ order_item.quantity }}</td>
            <td>${{order_item.get_total_item_price}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Total</td>
                <td>${{object.get_total}}</td>
            </tr>
            <tr>
                <td colspan="5">
                    <a class='btn btn-primary float-right' href="{% url 'shop:index' %}">Continue shopping</a>
                    <a class='btn btn-warning float-right ml-2' href="{% url 'shop:address' %}">Proceed to checkout</a>

                </td>
            </tr>
        </table>
    </div>
</div>
<!--End Cart Item Details-->
{% endblock modal %} {% block javascript %}
<!--Js for togglemenu-->
<script>
    var MenuItems = document.getElementById(" MenuItems ");

    MenuItems.style.maxHeight = "0px ";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px ") {

            MenuItems.style.maxHeight = "200px "
        } else {
            MenuItems.style.maxHeight = "0px "
        }
    }
</script>
{% endblock javascript %}
