{% extends "base.html" %} {% block modal %}
<!-- Main Content -->

<div class="container z-depth-1 my-3 py-3">

    <!-- Section -->
    <section>

        <style>
            .border-top {
                border-top-width: 2px !important;
            }
        </style>

        <h2 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Thanks for buy in my shop</h2>
        <h2 class="font-weight-bold text-center dark-grey-text pb-2">Order Information</h2>
        <hr class="w-header my-4">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-lg-5 col-xl-4">
                <h3 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Order Information</a></h3>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Order ID</a></h5>
                <p class="text-muted mb-5 pb-md-3">{{object.id}}</p>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Date</a></h5>
                <p class="text-muted mb-5">{{object.create_at}}</p>
                {% for product in order_item %}
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Name Product</a></h5>
                <p class="text-muted mb-5">{{product.item.title}} -- Price: {{product.get_total_item_price}}</p>
                {% endfor %}
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Sub Total</a></h5>
                <p class="text-muted mb-5">{{object.get_total}}</p>

<br><br><br>
                <h3 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Address Information</a></h3>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Street address</a></h5>
                <p class="text-muted mb-5 pb-md-3">{{object.shipping_address.street_address}}</p>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Provice </a></h5>
                <p class="text-muted mb-5 pb-md-3">{{object.shipping_address.apartment_address}}</p>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Country</a></h5>
                <p class="text-muted mb-5 pb-md-3">{{object.shipping_address.country}}</p>
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Zip Code</a></h5>
                <p class="text-muted mb-5 pb-md-3">{{object.shipping_address.zip}}</p>
            </div>
        </div>

        {% endblock modal %}
