{% extends 'base.html' %} {% block modal %}
              <form action="{% url 'shop:check-out' %}" method="POST">
                  {% csrf_token %}
                  <input placeholder="City" name="City" type="text" required="">
                  <input placeholder="Province" name="Province" type="text" required="">
                  <input placeholder="Street" name="Street" type="text" required="">
                  <input placeholder="Zip Code" name="Zip" type="text"  required="">
                  <input type="submit" value="Order Now" name = "send">
              </form>
{% endblock modal %}
