{% extends "base.html" %} {% load static%} {% block modal %}
<div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 padding">
  <div class="card">
      <div class="card-header p-4">
          <a class="pt-2 d-inline-block" href="/" data-abc="true">Red Store</a>
      </div>
      <div class="card-body">
          <div class="table-responsive-sm">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Item</th>
                          <th>Description</th>
                          <th class="right">Price</th>
                          <th class="center">Qty</th>
                          <th class="right">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for order in object_list  %}
                      <tr>
                        <td class="center">{{order.id}}</td>
                        <td class="left strong">{{order.items.item.title}}</td>
                        <td class="left">{{order.items.item.describe}}</td>
                        <td class="right">${{order.items.get_total_item_price}}</td>
                        <td class="center">{{order.items.quantity}}</td>
                    </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
{% endblock modal %}
