{% extends 'base.html' %} {% block modal %}
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
                <option>Default Shorting</option>
                <option>Short by price</option>
                <option>short by popylarity</option>
                <option>Short by rating</option>
                <option>Short by sale</option>
            </select>
    </div>
    <div class="row">

        {% for item in object_list%}
        <div class="col-2 single-product">
            <a href="{{item.get_product_url}}">
                <img src="{{ item.picture.url }}" alt="{{item.category}}-{{item.slug}} ">
                <h4>{{item.title}}</h4>
                <p>{{item.describe}}
                </p>
                <p>{{item.price}}$</p>
            </a>
        </div>
        {% endfor %}

    </div>


    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594;</span>
    </div>
</div>
{% endblock modal %} {% block javascript %}
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {

            MenuItems.style.maxHeight = "200px"
        } else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
{% endblock javascript %}
