{% extends 'base.html' %} {% load static%} {% block modal %}
<!--Start Single Product Details-->
<div class="small-container single-product">
    <div class="row">
        <div class="col-2">
            <img src="{{object.picture.url}}" width="100%" id="ProductImg">
        </div>
        <div class="col-2">
            <p>Shop / {{object.get_category}}</p>
            <h2>{{object.title}}</h2>
            <h4>${{object.price}}</h4>
            <!-- Default input -->
            <div>
                <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              </a>
                <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                    Remove from cart
              </a>
            </div>

            <h3>Product Details <i class="fa fa-indent"></i></h3>
            <br>
            <p>{{object.describe}}</p>
        </div>
    </div>
</div>
<!--ENd Single Product Details-->

<!---------Start Title-------------->
<div class="small-container">
    <div class="row row-2">
        <h2>Related Product</h2>
        <p>View More</p>
    </div>
</div>
<!---------End Title-------------->

<!---------Start Product-------------->
<!-- <div class="small-container">
    <div class="row">
        <div class="col-4">
            <img src="assets/img/product-9.jpg" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="assets/img/product-10.jpg" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="assets/img/product-11.jpg" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <img src="assets/img/product-12.jpg" alt="">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
</div> -->
<!---------End Product-------------->
{% endblock modal %} {% block javascript %}

<!--Js for togglemenu-->
<script>
    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {

            MenuItems.style.maxHeight = "200px"
        } else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>
{% endblock javascript %}