{% extends "base.html" %} {% load static%} {% block title %} {% block head_title %} {% endblock head_title %} {% endblock title %} {% block account %}
<div class="account-page">
    <div class="container">

        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                {% block inner %} {% endblock inner %}
            </div>

        </div>
    </div>
</div>
{% endblock account %}
