{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}ECommerce{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/font.css' %}" rel="stylesheet"> {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'css/_grid.css' %}" rel="stylesheet">
    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/project.css' %}" rel="stylesheet"> {% endblock %}

</head>

<body>

    {% if messages %} {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    {% endfor %} {% endif %}
    <!--Start Header-->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'shop:index' %}">Product</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if request.user.is_authenticated %}
                        <li>
                            {# URL provided by django-allauth/account/urls.py #}
                            <a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
                        </li>
                        <li>
                          {# URL provided by django-allauth/account/urls.py #}
                          <a href="{% url 'shop:list-invoice'%}">{% trans "My Invoice" %}</a>
                      </li>
                        <li>
                            {# URL provided by django-allauth/account/urls.py #}
                            <a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
                        </li>
                        {% else %}
                        <li>
                            {# URL provided by django-allauth/account/urls.py #}
                            <a id="sign-up-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                        </li>
                        <li>
                            {# URL provided by django-allauth/account/urls.py #}
                            <a id="log-in-link" href="{% url 'account_login' %} ">{% trans "Sign In " %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <img src="{% static 'images/cart.png' %} " alt=" ">
                <img src="{% static 'images/menu.png' %}" class="menu-icon " onclick="menutoggle() ">
            </div>
            {% block home %} {% endblock home %}

        </div>
    </div>
    <!--End Header-->
    {% block account %} {% endblock account %}

    <!-- /container -->
    {% block modal %}{% endblock modal %}
    <!--Start Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo-white.png' %}" alt="">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accesible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Easy Tutoriasl</p>
        </div>
    </div>
    <!--End Footer-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}

    <!-- Bootstrap JS and its dependencies-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Your stuff: Third-party javascript libraries go here -->


    <!-- place project specific Javascript in this file -->

    <script src="{% static 'js/project.js' %}"></script>


    {% endblock javascript %}

</body>

</html>
